import os
from gconfs import settings

DEBUG = True
ALLOWED_HOSTS = []

SOCIAL_AUTH_EPITA_KEY = '***REMOVED***'
SOCIAL_AUTH_EPITA_SECRET = '***REMOVED***'

YOUTUBE_API_KEY = '***REMOVED***'
YOUTUBE_RUN_EVERY_MINS=120