.intro-team {
    text-align: center;
    background-image: linear-gradient(to top, rgba(46, 48, 60, 0.8), rgba(46, 48, 60, 0.8)), url("/static/img/google.jpg");
    background-size: cover;
    background-attachment: fixed, fixed;
}

body {
    background-color: #ce7227;
}

#speakers {
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;	
}

#speakers h5  {
	font-size: 30px;
    font-family: 'Bangers', cursive;
    color: #ce7227;
}

#speakers h5 span  {
	font-size: 20px;
    font-family: 'Bangers', cursive;
    color: #ce7227;
}

#speakers h4  {
	font-size: 40px;
    font-family: 'Bangers', cursive;
    color: #ce7227;
}

#speakers h4 span {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 25px;
	background: none;
	padding: 0;
}

#speakers img {
	width: 100%;
	max-width: 240px;
	border-radius: 50%; 
    border: 15px solid #ce7227;
}