{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
{% endblock %}

{% block content %}
<div class="intro-header">
  <div class="container">
    <div class="col-lg-12">
      <div class="intro-message">
        <h1 class="landing">LET'S TALK</h1>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon points="100 0 100 100 0 100" style="fill: #ce7227" />
  </svg>
</div>

<div class="border-light" style="background-color: #ce7227">
  <div class="container" style="padding-top: 4em; padding-bottom: 4em;">
    <img src="{% static 'img/talk.jpg' %}" class="d-none d-lg-block rounded-circle" width="300" height="300" align="right">
    <div class="lorem-left">
      <h3 class="subtitle">A framework for speakers</h3>
      <div class="mainnav"></div>
      <p class="subtext">
        GConfs is a student association at EPITA organizing highly technical conferences in Paris. It's like a
        framework for speakers who want to give a talk about any kind of subject directly or indirectly related to
        computer science.
      </p>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="background-color: #ce7227">
  <polygon points="0 0 100 100 0 100" style="fill: #343a40" />
</svg>

<div class="border-dark" style="background-color: #343a40">
  <div class="container subcontainer">
    <img src="{% static 'img/public.jpg' %}" class="d-none d-lg-block rounded-circle" width="300" height="300" align="left">
    <div class="lorem-right">
      <h3 class="subtitle">Tech talks in a nutshell</h3>
      <div class="mainnav"></div>
      <p class="subtext">
        Everything is organized in such a way, that we take care of all relevant infrastructure, and leave the speaker
        with only the talk's content to take care of. We believe that the content is what truly matters, which is why
        many of our members are also speakers and frequently give their own talks.
      </p>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" style="background-color: #343a40">
  <polygon points="100 0 100 100 0 100" style="fill: #ce7227" />
</svg>

<div class="border-light" style="background-color: #ce7227">
  <div class="container subcontainer">
    <img src="{% static 'img/team.jpg' %}" class="d-none d-lg-block rounded-circle" width="300" height="300" align="right">
    <div class="lorem-left">
      <h3 class="subtitle">Have a blast</h3>
      <div class="mainnav"></div>
      <p class="subtext">
        With a decade of experience, GConfs has worked with the biggest names and shared events with <i>Facebook</i>,
        <i>Google</i> and <i>EuroBSDcon</i> to name a few. If you think you have something worth sharing, just get in
        touch with us at contact@gconfs.fr
      </p>
    </div>
  </div>
</div>

<div class="last-header">
  <svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none' >
    <polygon points='100 100 100 0 0 0' style='fill:#ce7227' />
  </svg>
  <div class="container subcontainer">
      <div class="container">
        <div class="copynope">
          <a href="https://www.facebook.com/GConfs/" target="_blank"><span class="fab fa-facebook-square fa-2x"></span></a>
          <a href="https://www.youtube.com/user/GConfs" target="_blank"><span class="fab fa-youtube fa-2x"></span></a>
          <a href="https://www.linkedin.com/company/gconfs/" target="_blank"><span class="fab fa-linkedin-in fa-2x"></span></a>
          <a href="https://github.com/gconfs" target="_blank"><span class="fab fa-github fa-2x"></span></a>
          <a href="https://twitter.com/AssoGConfs" target="_blank"><span class="fab fa-twitter fa-2x"></span></a>
        </div>
      </div>
    </div>
</div>

{% endblock %}