{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<link href="{% static 'css/admin.css' %}" rel="stylesheet">

<script src="{% static 'js/admin.js' %}"></script>
{% endblock %}

{% block content %}
<div id="wrapper">

  <!-- sidebar -->
  <ul class="sidebar navbar-nav toggled" style="position: absolute;">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'dashboard:events' %}">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <span>Pages</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" href="{% url 'dashboard:generator' %}">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
    </li>
  </ul>

  <div id="content-wrapper">
  {% block admin %}
  {% endblock %}
  </div>

  <!-- scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>
{% endblock %}