{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<link href="{% static 'css/admin.css' %}" rel="stylesheet">

<script src="{% static 'js/admin.css' %}"></script>
{% endblock %}

{% block content %}
<div id="wrapper">

  <!-- sidebar -->
  <ul class="sidebar navbar-nav toggled">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Pages</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Login Screens:</h6>
        <a class="dropdown-item" href="login.html">Login</a>
        <a class="dropdown-item" href="register.html">Register</a>
        <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Other Pages:</h6>
        <a class="dropdown-item" href="404.html">404 Page</a>
        <a class="dropdown-item" href="blank.html">Blank Page</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard:eventgen' %}">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <span>EventGen</span></a>
    </li>
  </ul>

  <div id="content-wrapper">
  {% block admin %}
  {% endblock %}
  </div>

  <!-- scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</div>
{% endblock %}