{% extends 'admin.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<link href="{% static 'css/admin.css' %}" rel="stylesheet">

<script src="{% static 'js/admin.js' %}"></script>
{% endblock %}

{% block admin %}
<div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Events</li>
    </ol>
</div>
{% endblock %}