{% extends 'admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}" />
<link href="{% static 'css/admin.css' %}" rel="stylesheet">
<script src="{% static 'js/admin.js' %}"></script>
{% endblock %}

{% block admin %}
<div class="container">
    <h1 class="display-4">{{ event.title }}</h1>
    <br/>
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
</div>
{% endblock %}